/* universal selector */
*{
    font-family:'Courier New';
    color:#9aaa0d;
    
}
/* element seletor */
button{
    color:white;
    background-color:rgba(226, 108, 10, 0.651);
}
li{
    color:rgb(199, 133, 11);
}
h1{
    COLOR:#b92b27;
}
p{
    color:rgb(243, 10, 146);
    font-weight: bolder;
    font-family:'Trebuchet MS';
}
/* id selector */
#spacex{
    color:blue;
}
#signup{
    color:rgb(199, 240, 16);
    background-color:purple;
}
#login{
    color:rgb(18, 231, 247);
    background-color:orangered;
}
/* class selector */
.upvote{
    color:rgb(247, 7, 7);
    font-weight: bolder;
    background-color:bisque;
}

/* descendant selector */
.post a {
    color:purple;
    background-color:yellow;
}

nav ul li a{
    color:rgb(143, 6, 148);
}
/* adjacent sibling combinator */

p+h3{
    color:blue;
}
/* child combinator */
div>input{
    background-color:salmon;
}

/* attribute selector */
input[type="text"]{
    color:red;
}
input[type="password"]{
    color:cadetblue;
}
input[type]{
    background-color:ghostwhite;
}
div #Myid{
    color:green;
}

/* pseudo class */
button:hover{
    color:black;
    background-color: white;
}
h3:hover{
    text-decoration:underline;
}
button:active{
    background-color:palevioletred;
    color:black;
}
p:active{
    font-weight: bolder;
    color:yellow;
}
input[type="radio"]:checked+label{
    font-weight: 700;
    color:red;
}
div:nth-of-type(2n){
    background-color:rgb(67, 240, 174);
}
/* pseudo element */
h1::first-letter{
    color:black;
}
p::first-line{
    color:purple;
}
p::selection{
    background-color:yellowgreen;
}
.abhi{
    background-color: aqua;
}





























/*
*{
    font-family:'Courier New';
}
h1{
    color:#1b74e4;
}
#searchbtn{
    color:white;
    background-color:black;
}
.userbtn{
    background-color: aqua;
}
    */