#mainTopic{
    color:blue;
}
*{
    text-align:center;
}
h1,h3{
    font-family: Georgia;
}
.content{
    color:white;
    background-color:cornflowerblue;
}
div button{
    color:azure;
    background-color: purple;
}
button:hover{
    color:blue;
    background-color:yellow;
}
/* for nth-of-type thing n starts from 0 */
p:nth-of-type(2n+1){
     color:yellow;
}
h1::first-letter{
    color:red;
}
/* after that :checked only label should be written so that it implies that when the input thing is seleceted the label below it should change its color */
#yes:checked+label{
     color:darkgreen;
}