div{
    height:200px;
    width:600px;
    background-color: pink;
    border-width:5px;
    border-style: solid;
    border-color:rgb(184, 43, 43);
    border-left:15px solid yellow;
    border-radius:15px;
    border-top-right-radius:50px;
    border-bottom-left-radius:100px;
    padding:12px;
    padding-left:25px;
    margin-bottom:25px;
    margin:25px 45px 34px 23px;
    margin:10px 20px 30px;

}
h1{
    /*  border shorthand */
    border:2px dotted blue;
    background-color:rgb(23, 209, 178);
    border-left:15px solid yellow;
    border-radius:25px;
    
}
button{
    background-color:yellowgreen;
    color:red;
    height:50px;
    width:200px;
    border:5px solid red;
    border-radius:35px;
    border-top-right-radius:70px;
    border-bottom-left-radius:70px;
    border-top-left-radius:30px;
    border-bottom-right-radius:30px;
    /* padding */
    padding-left:15px;
    padding-right:15px;
    /* clockwise padding */
    padding:0 45px 0 45px; 
    margin-top:25px;

}