/* #outer{
    height:200px;
    width:70px;
    border:2px solid black;
}
.inner{
    height:50px;
    width:50px;
    border:2px solid black;
    margin:10px;
    border-radius:50%;
}
#red{
    background-color:red;
}
#yellow{
    background-color:yellow;
}
#green{
    background-color:green;
}
h1{
    display:inline;
}
span{
    display:block;
}
div{
    height:200px;
    width:120px;
    background-color:greenyellow;
    border:3px solid black;
    margin:2px;
    display:inline-block;
} */
/* h1{
    border:2px solid black;
    width:50%;
}
#outer{
    border:2px solid black;
    background-color:yellow;
    height:500px;
    width:800px;
}
#inner{
    border:2px solid black;
    background-color:green;
    height:100px;
    width:100px;
    margin-left:10%;
} */
div{
    height:150px;
    width:300px;
    background-color:grey;
    border:5px dotted black;
    margin:20px 1em 40px 2em;
    padding:1em;
}
.hi{
    height:100px;
    width:100px;
    border:2px solid black;
    border-radius:50%;
    display:inline-block;
}
.hii{
    display:inline;
   
}