/* div{
    height:100px;
    width:100px;
    text-align:center;
    background-color:green;
    border:3px solid black;
    margin:20px;
    display:inline-block;
}
#static{
    background-color: yellow;
    position:static;
    top:100px;
    left:100px;
}
#relative{
     background-color: yellow;
    position:relative;
    top:100px;
    left:100px;
}
#absolute{
     background-color: yellow;
    position:absolute;
    top:100px;
    left:100px;
}
#fixed{
     background-color: yellow;
    position:fixed;
    top:100px;
    left:100px;
} */
.face{
    height:400px;
    width:400px;
    background-color:yellow;
    border-radius:50%;
}
.mouth{
    height:75px;
    width:200px;
    background-color: brown;
    /* border-bottom-left-radius:35%;
    border-bottom-right-radius:35%; */
    border-radius:0 0 50px 50px;
    position:absolute;
    top:250px;
    left:110px;
}
.eye1{
    height:50px;
    width:50px;
    background-color:black;
    position:absolute;
    border-radius:50%;
    top:100px;
    left:110px;
    display:inline-block;
}
.eye2{
    height:50px;
    width:50px;
    background-color:black;
    position:absolute;
    border-radius:50%;
    top:100px;
    left:250px;
    display:inline-block;
}