.container{
    height:400px;
    width:80%;
    background-color: aqua;
    border:2px solid black;
    margin:10px auto;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content:space-around;
}
.container div{
    height:50px;
    width:20px;
    text-align: center;

}
#ha{
    flex-grow:1;
}