.hehe{
    height: 300px;
    width: 100px;
    background-color: aqua;
    border:2px solid purple;
    animation-name:myfirstani;
    animation-duration:5s;
    animation-delay:2s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction: alternate-reverse;
    font-size: 10px;
     animation:myfirstani 2s ease-in-out 0s infinite normal; /* animation shorthand*/

}
.he{
    height: 300px;
    width: 700px;
    background-color: aqua;
    border:2px solid purple;
    animation:colorgraudalchange 5s ease-in-out 0s 3 normal;
}
@keyframes myfirstani{
    from{
        font-size:10px;
        background-color: aqua;
        width:100px;
    }
    to{
        font-size:70px;
        background-color: blue;
        width:1000px;
        border-radius:20px;
    }
}
@keyframes colors{
    form{
        background-color: aqua;
    }
    to{
        background-color: blue;
    }
}
@keyframes widthani{
    from{
        width:100px;
    }
    to{
        width:1000px;
    }
}
/* % animation */
@keyframes colorgraudalchange{
    0%{
        background-color: azure;
    }
    10%{
        background-color: rgb(11, 216, 216);
    }
    20%{
        background-color: rgb(61, 115, 231);
    }
    30%{
        background-color: rgb(131, 235, 195);
    }
    40%{
        background-color: rgb(11, 70, 70);
    }
    50%{
        background-color: rgb(205, 233, 81);
    }
    60%{
        background-color: rgb(202, 150, 223);
    }
    70%{
        background-color: rgb(90, 207, 86);
    }
    80%{
        background-color: rgb(226, 163, 26);
    }
    90%{
        background-color: #e239f1;
    }
    100%{
        background-color: rgb(145, 3, 97);
    }
}
h1{
    height:20px;
    width:1000px;
    background-color: aqua;
}
@media(min-width:500px) and (max-width:600px){
    h1{
        background-color: blue;
        color:puple;
    }
}
