div{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
    height:100vh;
    background-color: aqua;

}

/* #heh{
    height:550px;
    width:450px;
    border:2px solid black;
    background-color:palegreen;
    display:flex;
    justify-content:space-evenly;
}
#upone{
   height:100px;
   width:100px;
   background-color: red;
}
#downone{
   height:100px;
   width:100px;
   background-color: pink;
}

#sideone{
   height:100px;
   width:100px;
   background-color:brown;
   flex:1;
} */
